/* RatingFilter.css */
.rating-filter {
    width: 300px;
    margin: 10px;
    border-radius: 15px;
  }
  
  .rating-select {
    height: 40px;
    border-radius: 15px;
  }
  
  .rating-chip {
    margin: 5px;
  }
  
  .rating-label {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  